<div class="card">
  <div class="card-content">
    <h4>Estimated <%= @results.kw_storage %> total KW storage</h4>
    <h4>Estimated $<%= @results.california_savings %> in savings per year</h4>
  </div>
  <div class="card-content grey lighten-4">
    <div id="test4">
      <h5>Estimate Breakdown</h5>
      We have calculated that your carts have total mass of <%= @results.mass %> kgs.
      Given the length and incline, the carts will decend a total of <%= @results.height %> meters. This has <%= @results.joules %> in potential energy. We have also adjusted for some efficiency loss.

      <h5>Savings Breakdown</h5>
      ...
    </div>
  </div>
</div>
